.filtro{
    display: inline-flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    font-size: 1rem;
    gap: 0px 0.5rem;
    border-bottom: 1px solid rgb(182, 187, 194);
    padding-bottom: 1.5rem;
}
.centerfiltro{
    max-width: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(66, 70, 77);
    position: relative;

}

.filtro label{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0;
    color: #344767;
    margin-left: 0.25rem;
    margin-right: 0.25rem;

}

.tamanhomenu{
    max-width: 40rem;
    width: 40rem;
    height: 23rem;
}

.categoriamenu{
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

#tamanho{
    display: inline-flex;
    width: 40rem;
    height: auto;
}
.possition-desc{
    width: 25rem;
    height: auto;
    position: relative;
    left: 60%;
    bottom: 20rem;

}

.price{
    text-decoration:line-through;
}
.desconto{
    color: green;
    font-size: 1rem;
}
.myTable{
    display: inline-flex;
    padding-left: 1rem;
    padding-top: 1rem;
}
.text-dark{
    color: black !important;
}

nav img{
    border-radius: 50%;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }